@import '../../colors.scss';
.panel {
    display: flex;
    flex-direction: row;
    padding: 0.2em;
    background-color: $white;

    .list {
        height: 100%;
        width: 20%;
        margin: 0.5em;
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        background-color: $primary;
        .heading {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 1em;
            color: $white;
        }
        .todos {
            display: flex;
            flex-direction: column;
            .task {
                background-color: $light-primary;
                margin: 0.5em;
                display: flex;
                flex-direction: column;
                color: $primary-text;
                .data {
                    text-align: start;                    
                    padding: 0.5em;
                    p {
                        font-size: 0.7em;
                    }
                }
                .actions {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    padding: 0.5em;
                    button {
                        font-size: 0.7em;
                        width: 50%;
                        background-color: $dark-primary;
                        color: $white;
                        border-width: 1px;
                        border-color: $white;
                        border-style: solid;
                        cursor: pointer;
                    }
                }
            }
            .completed { 
                color: $primary-text;
                background-color: $completed;
            }
            }
        }
        .add {            
            margin: 0.5em;
            button {
                width: 100%;
                background-color: $dark-primary;
                color: $white;
                border-width: 1px;
                border-color: $white;
                border-style: solid;
                cursor: pointer;
            }
        }
    }