@import '../../colors.scss';
.panel {
    display: flex;
    flex-direction: row;
    padding: 1em;
    background-color: $white;

    .list {
        height: 100%;
        width: 20%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        background-color: $primary;
        .heading {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 1em;
            color: $white;
        }
        .todos {
            display: flex;
            flex-direction: column;
            padding: 1em;
            .task {
                background-color: $light-primary;
                padding: 1em;
                display: flex;
                flex-direction: row;
                color: $primary-text;
                .data {
                    text-align: start;                    
                    padding: 1em;
                }
                .actions {
                    display: flex;
                    flex-direction: column;
                    padding: 1em;
                }
            }
        }
        .add {
            background-color: $dark-primary;
            color: $white;
            padding: 1em;
            text-align: center;
        }
    }
}